aclocal.m4
autom4te.cache
autoregen.sh
config.*
configure
libtool
Makefile.in
depcomp
install-sh
ltmain.sh
missing
stamp-*
my-plugin-*.tar.*
*~
Makefile
src/.deps
src/.libs
src/Makefile
src/libgstvocschnipselsink*

