<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Voctoremote</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-4.5.0.min.css') }}"/>
    </head>
    <body>
        {# <div class="container-lg" id="voctoremote-buttons"> #}
        <div class="container-lg" id="voctoremote-buttons">
             <div class="row">
                {% for button in buttons %}
                    {# <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 mb-1"> #}
                    <div class="col-12 mb-1">
                        <form action="run" method="post">
                            <input type="hidden" name="command" value="{{ button.command }}" />
                            <button type="submit" class="btn btn-primary btn-lg btn-block" id="voctobutton-{{ button.id }}">{{ button.text }}</button>
                        </form>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{{ url_for('static', filename='jquery-3.5.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='popper-2.4.4.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap-4.5.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='index.js') }}"></script>
    </body>
</html>
