Source: voc2mix-isdn
Section: video
Priority: optional
Maintainer: derchris <derchris@me.com>
Uploaders: derchris <derchris@me.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.0
Rules-Requires-Root: no
Vcs-Git: https://github.com/voc/voctomix.git
Vcs-Browser: https://github.com/voc/voctomix
Homepage: https://c3voc.de

Package: voc2mix-isdn
Architecture: all
Multi-Arch: foreign
Depends: gstreamer1.0-plugins-bad,
    gstreamer1.0-plugins-base,
    gstreamer1.0-plugins-good,
    gstreamer1.0-plugins-ugly,
    gstreamer1.0-tools,
    libgstreamer1.0-0,
    gstreamer1.0-x,
    python3,
    python3-gi,
    gir1.2-gstreamer-1.0,
    gir1.2-gst-plugins-base-1.0,
    python3-sdnotify,
    gstreamer1.0-gl,
    gstreamer1.0-pulseaudio
Suggests: gstreamer1.0-vaapi,
    python3-pyinotify,
    gstreamer1.0-libav,
    rlwrap,
    fbset,
    ffmpeg,
    netcat,
    python3-flask,
    python3-scipy,
Description: Voc2Mix ISDN version
 Full-HD Software Live-Video-Mixer in python