/* set font size for UHD screens */


.name { font-size: 15px; }
button {
  font-size: 25px;
  border-radius: 20px;
  background-color: #505050;
  margin-left:2px;
  margin-top:2px;
  margin-bottom:5px;
  margin-right:5px;
}

button:checked, button:active {
  background-image: none;
  background-color: #ddbb00;
  color: #000000;
}

button:checked:disabled {
  background-color: #aa9944;
}

button:checked:disabled label {
  color: #997700;
}

button:checked:backdrop label {
  color: #997700;
}

.output:disabled:backdrop label {
  color: #106610;
}

.output:disabled button {
  background-color: #40CC40;
}

.output:disabled label {
  color: #000000;
}

.mode.output.live button:checked {
  background-color: #FF4040;
}

.mode.output.live button:checked label:backdrop  {
  color: #801010;
}
