#mixer {
  font-family: roboto condensed;
}

#mixer .name {
  font-size: 1.0em;
}

#mixer button {
  font-size: 2.5em;
  padding-left: 40px;
  padding-right:40px;
  padding-top:10px;
  padding-bottom:10px;
  border-radius: 25px;
  background-color: #505050;
  margin-left:0.3em;
  margin-top:0.3em;
  margin-bottom:0.3em;
  margin-right:0.3em;
  background-image: none;
}

window.popup {
  font-size: 2.5em;
}

frame label {
  font-size: 2.0em;
}

box label {
  font-size: 2.0em;
}

#mixer button:disabled {
  background-color: #303030;
}

#mixer label:disabled {
  color: #505050;
}

#mixer button:checked, #mixer button:active {
  background-image: none;
  background-color: #ddbb00;
  color: #000000;
}

#mixer button:checked:disabled {
  background-color: #504530
}

#mixer button:checked:disabled label {
  color: #302510;
}

#mixer button:checked label:backdrop {
  color: #997700;
}

#mixer button:checked:disabled label:backdrop {
  color: #302510;
}

#preview_b button:checked:disabled {
  background-color: #303030
}

#preview_b button:checked:disabled label {
  color: #505050;
}

#preview_b button:checked:disabled label:backdrop {
  color: #505050;
}

#mixer .mode:disabledlabel:backdrop {
  color: #106610;
}

#mixer .mode.blink button:checked  {
  background-color: #FF0000;
  color: #FFFFFF;
  border-color: #FF8080;
  box-shadow: 0 0 0.3em #FF8080;
  text-shadow: 0 0 0.3em #FFFFFF;
}

#mixer .mode button:checked label:backdrop  {
  color: #CCAA80;
}

#mixer .mode.blink button:checked label:backdrop  {
  color: #FFFFFF;
}

#mixer .mode button:checked  {
  background-color: #6B0002;
  color: #CCAA80;
}

#mixer .mode.live button:checked {
  background-color: #208020;
  color: #80FF80;
  border-color: #80FF80;
  box-shadow: 0 0 0.3em #80FF80;
  text-shadow: 0 0 0.3em #FFFFFF;
}

#mixer .mode.live button:checked label:backdrop  {
  color: #80FF80;
}

#mixer button:checked.option {
  background-color: #C06000;
  color: #FFDD80;
}

#mixer button:checked.option label:backdrop {
  color: #FFDD80;
}

#queues { font-size: 1.0em; }

toolbar {
  background-color:rgba(0,0,0,0);
}

#mixer .glow button {
  box-shadow: 0 0 0.3em #ddbb00;
  text-shadow: 0 0 0.3em #ddbb00;
  color: #ffee80;
  border-color: #ddbb00;
}

#mixer .glow button:disabled {
  text-shadow: 0 0 0.3em #403010;
}

#mixer .glow button:disabled label {
  color: #605040;
}

#mixer .glow button label:backdrop {
  color: #ddbb00;
}

#mixer .glow button:checked label:backdrop {
  color: #ffee80;
}

.notebook {
  box-shadow: 0 0 0.3em rgba(0,0,0,128);
}

#mixer frame border {
  background-color:rgba(37,42,44,0);
  border-left-color:rgba(74,84,88,0);
  border-right-color:rgba(74,84,88,0);
  border-top-color:rgb(74,84,88);
  border-bottom-color:rgba(74,84,88,0);
}

#mixer frame > label {
  margin-left: 1em;
  margin-right: 1em;
}
