/* set font size for UHD screens */
#mixer .name { font-size: 15px; }

#mixer button {
  font-size: 20px;
  border-radius: 15px;
  background-color: #505050;
  margin-left:2px;
  margin-top:2px;
  margin-bottom:5px;
  margin-right:5px;
}

#mixer button:checked, #mixer button:active {
  background-image: none;
  background-color: #ddbb00;
  color: #000000;
}

#mixer button:checked:disabled {
  background-color: #aa9944;
}

#mixer button:checked:disabled label {
  color: #997700;
}

#mixer button:checked:backdrop label {
  color: #997700;
}

#mixer .output:disabled:backdrop label {
  color: #106610;
}

#mixer .output:disabled button {
  background-color: #40CC40;
}

#mixer .output:disabled label {
  color: #000000;
}

#mixer .mode.output.live button:checked {
  background-color: #FF4040;
}

#mixer .mode.output.live button:checked label:backdrop  {
  color: #801010;
}

#queues { font-size: 15px; }
