[Unit]
Description = voctomix streaming-hd sink
After = voctomix-voctocore.service
Requires = voctomix-voctocore.service

[Service]
Type = simple
ExecStart = /usr/share/doc/voctomix/example-scripts/ffmpeg/stream-hd.sh
Restart = always
RestartSec = 1s
StartLimitInterval = 0

[Install]
WantedBy = voctomix-voctocore.service
