:root {
    --live: #dd0000;
    --live-text: white;
    --preview: #00bb00;
    --preview-text: black;
}

:root {
    font-family: roboto condensed, sans-serif;
}

#mixer .name {
    font-size: 1.0em;
}

#mixer button {
    font-size: 20px;
    border-radius: 15px;
    background-color: #505050;
    margin: 0.3em;
    background-image: none;
}

#mixer button:disabled {
    background-color: #303030;
}

#mixer label:disabled {
    color: #505050;
}

/* green, preselected for next cut/transition */
#mixer button:checked,
#mixer button:active {
    background-image: none;
    background-color: var(--preview);
    color: var(--preview-text);
}

#mixer button:checked:disabled {
    background-color: #504530;
}

#mixer button:checked:disabled label {
    color: #302510;
}

#mixer button:checked label {
    text-shadow: 0 0 2px #707070;
}

#mixer button:checked:disabled label {
    text-shadow: 0 0 2px #302510;
}

#mixer button#preview_b:checked:disabled {
    background-color: #303030;
}

#mixer button#preview_b:checked:disabled label {
    color: #505050;
}

#mixer button#preview_b:checked:disabled label {
    text-shadow: 0 0 2px #505050;
}

#mixer .mode:disabled label {
    text-shadow: 0 0 2px #106610;
}

#mixer button.mode.blink:checked {
    background-color: #FF0000;
    color: #FFFFFF;
    border-color: #FF8080;
    box-shadow: 0 0 0.3em #FF8080;
    text-shadow: 0 0 0.3em #FFFFFF;
}

#mixer button.mode:checked label {
    text-shadow: 0 0 2px #CCAA80;
}

#mixer button.mode.blink:checked label {
    text-shadow: 0 0 2px #FFFFFF;
}

#mixer button.mode:checked {
    background-color: #6B0002;
    color: #CCAA80;
}

#mixer button.mode.live:checked {
    background-color: #208020;
    color: #80FF80;
    border-color: #80FF80;
    box-shadow: 0 0 0.3em #80FF80;
    text-shadow: 0 0 0.3em #FFFFFF;
}

#mixer button.mode.live:checked label {
    text-shadow: 0 0 2px #80FF80;
}

#mixer button:checked.option {
    background-color: #C06000;
    color: #FFDD80;
}

#mixer button:checked.option label {
    text-shadow: 0 0 2px #FFDD80;
}

#mixer #queues {
    font-size: 1.0em;
}

#mixer toolbar {
    background-color: rgba(0, 0, 0, 0);
}


/* glow means stuf behind button is live */
#mixer button.glow {
    background-color: var(--live);
    color: var(--live-text);
    border-color: var(--live);
    text-shadow: 0 0 0.3em #000000;
    box-shadow: 0 0 0.3em var(--live);
}

/* live and selected for next cut/transition */
#mixer button.glow:checked {
    background-image: linear-gradient(90deg, var(--live), #505050, var(--preview));
    color: var(--live-text);
    border-color: #505050;
    text-shadow: 0 0 0.3em #000000;
    box-shadow: 0 0 0.3em var(--live);
}

#mixer button.glow:disabled {
    text-shadow: 0 0 0.3em #403010;
}

#mixer button.glow:disabled label {
    color: #605040;
}

#mixer button.glow label {
    text-shadow: 0 0 2px #707070;
}

#mixer button.glow:checked label {
    text-shadow: 0 0 2px #707070;
}

#mixer .notebook {
    box-shadow: 0 0 0.3em rgba(0, 0, 0, 128);
}

#mixer frame border {
    background-color: rgba(37, 42, 44, 0);
    border-left-color: rgba(74, 84, 88, 0);
    border-right-color: rgba(74, 84, 88, 0);
    border-top-color: rgb(74, 84, 88);
    border-bottom-color: rgba(74, 84, 88, 0);
}

#mixer .toolbar-title-vertical {
    transform: rotate(-90deg);
}

#mixer frame > label {
    text-align: center;
}

.primary-toolbar > * {
    margin-left: .1em;
    margin-right: .1em;
}

.primary-toolbar > label,
.primary-toolbar > image {
    margin-left: .5em;
    margin-right: .5em;
}
